<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5LoIDDpZQ6ivRUcfd-iKsPiNSWm6Gm8o</string>
	<key>GCM_SENDER_ID</key>
	<string>216071700151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.posttest5096FilipusManik.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>projectakhirmobile-d1c72</string>
	<key>STORAGE_BUCKET</key>
	<string>projectakhirmobile-d1c72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216071700151:ios:99e3bbc71f9e91dd3e1732</string>
</dict>
</plist>